@import "tailwindcss";

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 0, 0, 0;
  --background-end-rgb: 0, 0, 0;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

/* Custom Animations */
.aurora-bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: radial-gradient(
      circle at 50% 0%,
      rgba(34, 197, 39, 0.15),
      transparent 50%
    ),
    radial-gradient(circle at 0% 0%, rgba(34, 197, 39, 0.1), transparent 40%),
    radial-gradient(circle at 100% 0%, rgba(34, 197, 39, 0.1), transparent 40%);
  pointer-events: none;
  z-index: 0;
}

/* Scrollbar Hide */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

/* Animations */
@keyframes spin-slow {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.animate-spin-slow {
  animation: spin-slow 8s linear infinite;
}

@keyframes pulse-slow {
  0%,
  100% {
    opacity: 0.5;
    transform: scale(1.5);
  }
  50% {
    opacity: 0.3;
    transform: scale(1.4);
  }
}
.animate-pulse-slow {
  animation: pulse-slow 8s ease-in-out infinite;
}

/* Music Visualizer Bar Animation */
@keyframes music-bar {
  0%,
  100% {
    height: 20%;
  }
  50% {
    height: 100%;
  }
}

.animate-music-bar-1 {
  animation: music-bar 0.6s infinite ease-in-out;
}
.animate-music-bar-2 {
  animation: music-bar 0.8s infinite ease-in-out 0.1s;
}
.animate-music-bar-3 {
  animation: music-bar 0.5s infinite ease-in-out 0.2s;
}

/* CUSTOM SCROLLBAR (CHROME, EDGE, SAFARI) */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #09090b; /* Warna background web */
}

::-webkit-scrollbar-thumb {
  background-color: #333; /* Warna batang scroll */
  border-radius: 20px;
  border: 2px solid #09090b;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #22c527; /* Jadi hijau pas di-hover */
}
